<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501860290616-u77fe6cr0shb9ihmedmthe2v60t39sv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501860290616-u77fe6cr0shb9ihmedmthe2v60t39sv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDwvRVr4Yk5vyl7RqThpfmoOpX-YihnpOg</string>
	<key>GCM_SENDER_ID</key>
	<string>501860290616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kammun.app</string>
	<key>PROJECT_ID</key>
	<string>kammun-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kammun-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501860290616:ios:433e91fd777f1ac49c56cd</string>
	<key>DATABASE_URL</key>
	<string>https://kammun-app.firebaseio.com</string>
</dict>
</plist>